* {
	transition: all 0.5s ease-in-out;
}

html {
	min-width: 1280px;
}
body {	
	height: 100%;
	background: #3e91d6; /* Old browsers */
	background: -moz-linear-gradient(top, #3e91d6 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e91d6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #3e91d6 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #3e91d6 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #3e91d6 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #3e91d6 0%,#ffffff 100%); /* W3C */
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e91d6', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
	
	background-repeat: no-repeat;
	text-align: center;
	margin-bottom: 100px;
}

a, a:link, a:visited {
	color: white;
	text-decoration: none;
}

ul li {
	display: inline;
	margin-right: 20px;
	color: white;
	text-decoration: none;
}

#kontener {
	width: 1280px;
	height: 620px;
	margin: auto;
}

#logo {
	width: 1024px;
	height: 100px;
	margin: auto;
	background: url('res/logo.png') no-repeat center top;
	border: 2px black solid;
	border-bottom: 1px black solid;
}

#menu {
	width: 1024px;
	height: 50px;
	margin: auto;
	border: 2px black solid;
	border-top: 1px black solid;
}

#link-menu-home div {
	background: url('res/strona_glowna.png');
}
#link-menu-home:hover div {
	background: url('res/strona_glowna_act.png');
}

#link-menu-miejsca div {
	background: url('res/miejsca_zbrodni.png');
}
#link-menu-miejsca:hover div {
	background: url('res/miejsca_zbrodni_act.png');
}

#link-menu-podejrzani div {
	background: url('res/podejrzani.png');
}
#link-menu-podejrzani:hover div {
	background: url('res/podejrzani_act.png');
}

#link-menu-pojazdy div {
	background: url('res/pojazdy.png');
}
#link-menu-pojazdy:hover div {
	background: url('res/pojazdy_act.png');
}

#link-menu-onas div {
	background: url('res/o_projekcie.png');
}
#link-menu-onas:hover div {
	background: url('res/o_projekcie_act.png');
}

#link-menu-konto div {
	background: url('res/moje_konto.png');
}
#link-menu-konto:hover div {
	background: url('res/moje_konto_act.png');
}

.link-menu > ul {
	overflow: hidden;
	border: 0px;
	width: 150px;
	height: 0px;
	padding: 0px;
	position: absolute;
	margin-top: -2px;
	margin-left: 810px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	z-index: 2;
}
.link-menu:hover > ul {
	display: block;
	height: 70px;
	border: 1px black solid;
	padding-top: 5px;
	padding-bottom: 5px;
}
.link-menu  > ul > li {
	display: block;
	margin: 4px;
	width: 142px;
	border-radius: 5px;
	cursor: pointer;
}
.link-menu > ul > li:hover {
	background: rgba(255, 255, 255, 0.25);
}


#tresc {
	width: 1024px;
	min-height: 400px;
	margin: auto;
	text-align: left;
	background: rgba(0, 0, 0, 0.25);
    border-width: 5px;
    border-style: solid;
    border-image: url(res/rama.png) 5 round round;
}

#tresc > div {
	margin: 20px;
}

#upload-box-link {
	cursor: pointer;
	color: white;
	min-width: 300px;
	text-shadow: 0px 0px 1px black;
	margin-left: 800px;
	margin-top: 25px;
	position: absolute;
	z-index: 1;
}

#upload-box {
	width: 300px;
	height: 100px;
	visibility: hidden;
	opacity: 0;
	margin-left: 800px;
	margin-top: 20px;
	border: 1px black solid;
	background: rgba(0, 0, 0, 0.5);
	padding: 15px;
	position: absolute;
}

#obraz-opis-nazwa, #obraz-opis-autor, #obraz-opis-tresc {
	border-bottom: 1px black solid;
	color: white;
	text-shadow: 0px 0px 1px black;
	width: 100%;
	font-weight: bold;
	text-align: center;
}
#obraz-opis-nazwa, #obraz-opis-autor {
	background: rgba(0,0,0,0.25);
}
#obraz-opis-tresc {
	background: rgba(0,0,0,0.75);
}

#icon-delete {
	background: url('res/ikonki/delete.png') no-repeat;
	display: inline-block;
	cursor: pointer;
	border: 0px;
	width: 16px;
	height: 16px;
	padding: 1px;
	margin-left: 5px;
}

#icon-select-all {
	background: url('res/ikonki/select-all-false.png') no-repeat;
	display: inline-block;
	cursor: pointer;
	border: 0px;
	width: 16px;
	height: 16px;
}

#uploadDontSearch {
	display: none;
}

.image-thumbnail {
	cursor: pointer;
	margin: 2px;
	cursor: pointer;
	border: 1px black solid;
}

.image-thumbnail:hover {
	opacity: 0.85;
	border: 1px black solid;
}

#login-div {
	color: white;
	margin: 100px auto;
	padding: 0px;
	background: url('res/brakdostepu.png');
	width: 150px;
	height: 150px;
	cursor: pointer;
}

#login-div > div {
	width: 200px;
	height: 0px;
	color: black;
	background: rgba(255, 255, 255, 0.75);
	margin: -50px -50px 0px;
	padding: 20px;
	overflow: hidden;
	opacity: 0;
}

#login-div:hover > div {
	height: 200px;
	opacity: 1;
}

.news-div {
	border: 1px black solid;
	border-radius: 5px;
	background: rgba(255, 255, 255, 0.25);
}
.news-div div {
	padding: 5px;
	}
.news-div-baza {
	display: inline-block;
	float: right;
}
.news-div-tytul {
	background: rgba(125, 150, 255, 0.25);
	border-bottom: 1px black solid;
}
.news-div-tresc{
	background: rgba(255, 255, 255, 0.5);
	border-bottom: 1px black solid;
}
.news-div-data{
	display: inline-block;
	float: right;
}

.a-strona {
	margin: 5px;
}
.a-strona:hover {
	text-shadow: 0px 0px 5px orange;
	text-decoration: underline;
}

.miejsce-div, .podejrzany-div, .pojazd-div {
	display: inline-block;
	overflow: hidden;
	margin-top: -25px;
	opacity: 0;
	width: 0px;
	height: 0px;
	border: 1px black solid;
	background: rgba(255, 200, 175, 0.25);
}
.miejsce-div-adres, .miejsce-div-autor, .miejsce-div-data, .podejrzany-div-dane{
	border-bottom: 1px black solid;
	color: white;
	text-shadow: 0px 0px 1px black;
	width: 100%;
	font-weight: bold;
	text-align: center;
}
.miejsce-div-baza {
	text-align: right;
	background: rgba(255, 200, 175, 0.25);
	padding: 5px;
	font-weight: bold;
}
.miejsce-div-autor {
	width: 50%;
	float: left;
	background: rgba(0,0,0,0.25);
}
.miejsce-div-data {
	width: 50%;
	float: right;
	background: rgba(0,0,0,0.25);
}
.miejsce-div-adres, .podejrzany-div-dane {
	background: rgba(0,0,25,0.5);
}

.konfiguracja-form > span{
	width: 30%;
	float: left;
	margin: 1px;
}
.konfiguracja-form > input {
	width: 200px;
	float: right;
	text-align: right;
	margin: 1px;
}
.konfiguracja-form > select {
	width: 200px;
	float: right;
	text-align: right;
	margin: 1px;
}
.konfiguracja-form {
	border:1px green solid; 
	padding:5px; 
	margin:5px;
	width: 300px;
}

#instalacja-div-2, #instalacja-div-3, #instalacja-div-4
{
	display: none;
}

#stopka
{
	border: 1px black solid;
	margin-top: 20px;
	border-radius: 5px;
	padding: 5px;
	background: rgba(50, 50, 50, 0.2);
}

#dodaj-form
{
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px black;
	width: 35%;
}
#dodaj-form > span
{
	width: 30%;
	float: left;
}
#dodaj-form > input, #dodaj-form > form
{
	display: inline-block;
	width: 70%;
}